## Title: House Hotkey
## Author: thisbeaurielle
## Version: ${ADDON_VERSION}
## APIVersion: 101049 101050
## AddOnVersion: ${ADDON_FORMATTED_VERSION}
## SavedVariables: HouseHotkey_Vars
## DependsOn: LibHarvensAddonSettings>=20007
## OptionalDependsOn: LibRadialMenu

HouseHotkeyGlobals.lua
lang/en.lua
lang/$(language).lua
Console/ui.lua
HouseHotkey.lua

