## Title: House Hotkey
## Author: thisbeaurielle
## Version: ${ADDON_VERSION}
## APIVersion: 101048 101049
## AddOnVersion: 1
## SavedVariables: HouseHotkey_Vars
## DependsOn: LibHarvensAddonSettings>=20007

HouseHotkey.lua
lang/en.lua
lang/$(language).lua
